#button-addon1 {
  color: black;
}


i {
  color: black;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

body {
  background-color: #eee;
  font-family: 'Calibri', sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.mt-100 {
  margin-top: 100px;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #4466f2 !important;
  border-color: #4466f2 !important;
}

.details {
  /* background: linear-gradient(90deg, white, rgb(255, 182, 193), white); */
  border: 1.5px solid grey;
  box-shadow: 0px 0px 3px #212121;
  color: #212121;
  height: auto;
  width: 100%;
}

.details:hover {
  box-shadow: 0px 0px 10px #212121;
}

.card-body {
  background: linear-gradient(30deg, white, rgba(255, 192, 203, 0.226), rgba(128, 0, 128, 0.233));
  /* width: fit-content; */
}

.btn {
  border-radius: 0;
}

.img-thumbnail {
  border: none;
}

.card {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  /* width: fit-content; */
}

#footer {
  margin-top: auto;
  background: linear-gradient(180deg, white, rgba(255, 192, 203, 0.226), rgba(128, 0, 128, 0.233));

}

#confirmationPageJumbotron,
#productCard,
#homePageJumboTron {
  background: linear-gradient(90deg, white, rgba(255, 192, 203, 0.226), rgba(128, 0, 128, 0.233));
}

.navbar {
  background: linear-gradient(270deg, white, rgba(255, 192, 203, 0.226), rgba(128, 0, 128, 0.233));
}

.bi-dash-square {
  color: red;
}